.typing-animation {
    animation: cursor 800ms steps(40) infinite normal, 
            typing 2.5s steps(40) 1s normal both;
    @keyframes typing {
        from{
            width: 0;
        }
        to {
            width: 15.6em;
        }
    }
    
    @keyframes cursor{
        from {
            border-right-color: #F6efea
        }
        to {
            border-right-color: transparent;
        }
    }
}


.showup-animation {
    opacity: 0;
    animation-name: show-up;
    animation-duration: 2s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
    @keyframes show-up {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}