footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: $background-gradient;
	padding-top: 10px;
	position: absolute;
	width: 100vw;

    .footer-icones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #copy {
        color: $primary-color;
        font-family: $primary-font;
        text-transform: uppercase;
        font-size: .765em;
        font-weight: 400;
        letter-spacing: 2px;
        padding-bottom: 8px;
    } 
    
    #redes-sociais {
        gap: .5rem;
        padding-bottom: 1rem;
    }
}



