form {
    grid-area: formulário-contato;
    display: flex;
    text-align: center;
    margin: 0px auto;
    font-size: .7em;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

fieldset {
    border: none;
    border-radius: .5rem;
}

.campo-formulario {
    width: 100%;
    padding: .5rem;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: .5rem;
}

#contato-button {
    background-color: #6d436c;
    padding: .6rem .6rem;
    color: rgb(248, 241, 249);
    border: none;
    border-radius: .4rem;
    font-size: .9em;
}