//GRID GERAL

.estrutura {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-areas: 
  'header header'
  'home home'
  'servicos servicos'
  'projetos projetos'
  'sobre sobre'
  'contato contato'
  'footer footer';
}

@media screen and (max-width: 768px) {
 .estrutura {
   grid-template-columns: 100%;
   grid-template-areas:
   'header'
   'home'
   'servicos'
   'projetos'
   'sobre'
   'contato'
   'footer';
 }
}