//Mixins

@mixin top-border-section {
	border-top: solid 5px $secondary-color;
	margin: 0px 20px;
}

@mixin grid-section {
	display: grid;
	grid-template-columns: 100%;
	height: 100vh;
	max-width: 100vw;
	align-items: center;
	font-family: $primary-font;
}

@mixin principal-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin text-section {
	text-align: justify;
	color: #212529;
}

@mixin image-size {
	width: 18rem;
	height: 18rem;
}

//Maps

$section-title: (
	shadow: 2px 2px 1px #bac,
	margin: 50px,
	wFont: 900,
);