
// PROJETOS

.projetos {
 grid-area: projetos;

  .section-item {
   h4 {
    cursor: pointer;
   }

   &:nth-of-type(2n+1) h4::before {
    background: #8844ee;
   }

   &:nth-of-type(2n+2) h4::before {
    background: #00BFA6;
   }

   p {
     cursor: pointer;
   }
  }
}