// PROJETOS

.projetos {
 grid-area: projetos;
 @include layout-section;

 h1 {
  @include section-h1;
 }

 .container-section {
  @include container-section;

  .section-item {
   @include section-item;

   h4 {
    @include section-h4;
    cursor: pointer;
   }

   &:nth-of-type(2n+1) h4::before {
    background: #8844ee;
   }

   &:nth-of-type(2n+2) h4::before {
    background: #00BFA6;
   }

   p {
     @include section-p;
     cursor: pointer;
   }
  }
 }
}