
// SOBRE

.sobre {
 grid-area: sobre;

  .section-item {

    &:nth-of-type(2n+1) h4::before {
    background: #8844ee;
    }

    &:nth-of-type(2n+2) h4::before {
    background: #00BFA6;
    }

    li {
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
    }
  }
}


