$primary-color: #F6efea;
$secondary-color: #04f4bc;
$third-color: #ede5ded9;
$background-gradient: linear-gradient(to right top, #a386e7, #a586e7, #a786e7, #a986e7, #ab86e7, #a887e7, #a687e8, #a388e8, #9c8ae8, #948be8, #8d8de8, #868ee7);
$primary-font: 'Montserrat', sans-serif;