body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.estrutura {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "home home" "servicos servicos" "projetos projetos" "sobre sobre" "contato contato" "footer footer";
}

@media screen and (max-width: 768px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas: "header" "home" "servicos" "projetos" "sobre" "contato" "footer";
  }
}
.layout-section {
  max-width: 1200px;
  padding: 60px;
  margin: 0 auto;
  border-bottom: 2px solid #8844ee;
}
.layout-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #525252;
  text-align: center;
}
.layout-section h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #525252;
  font-style: italic;
  text-align: center;
}
.layout-section h3 {
  font-size: 1.5em;
  color: #525252;
  font-weight: bold;
  text-align: center;
}

.container-section {
  display: flex;
  flex-wrap: wrap;
}
.container-section .section-item {
  flex: 1 1 300px;
  margin: 5px 10px;
}
.container-section .section-item h4 {
  font-size: 1.375em;
  color: #b07dfb;
  margin-bottom: 20px;
}
.container-section .section-item h4::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.container-section .section-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header ul li + li {
  margin-left: 20px;
}
.header ul a {
  color: white;
  display: block;
  padding: 10px;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}
.header ul a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.header .logo {
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header .logo img {
  max-width: 120px;
  height: 55px;
}
.header .logo p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
}

@media screen and (max-width: 835px) {
  .header {
    justify-content: center;
  }
  .header li {
    margin-bottom: 10px;
  }
  .header li + li {
    margin-left: 10px;
  }
  .header a {
    font-size: 1em;
  }
  .logo {
    margin-bottom: 20px;
  }
}
.showup-animation1 {
  opacity: 0;
  animation-name: show-up;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showup-animation2 {
  opacity: 0;
  animation-name: show-up;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  grid-area: home;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.home h1 {
  font-size: 4.5rem;
  line-height: 1.125em;
  margin-bottom: 30px;
  position: relative;
  color: #343434;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: ease-in;
}
.home img {
  width: 360px;
  height: 520px;
  transition: ease-in;
}

@media screen and (max-width: 1000px) {
  .home h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .home {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .home h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .home img {
    max-height: 150px;
    padding-top: 10px;
    justify-self: center;
  }
}
@media screen and (max-width: 400px) {
  .home {
    grid-template-columns: 1fr;
  }
}
.servicos {
  grid-area: servicos;
  border-top: 2px solid #8844ee;
}
.servicos .section-item:nth-of-type(3n+1) h4::before {
  background: #8844ee;
}
.servicos .section-item:nth-of-type(3n+2) h4::before {
  background: #00BFA6;
}
.servicos .section-item:nth-of-type(3n+3) h4::before {
  background: #8844ee;
}

.projetos {
  grid-area: projetos;
}
.projetos .section-item h4 {
  cursor: pointer;
}
.projetos .section-item:nth-of-type(2n+1) h4::before {
  background: #8844ee;
}
.projetos .section-item:nth-of-type(2n+2) h4::before {
  background: #00BFA6;
}
.projetos .section-item p {
  cursor: pointer;
}

.sobre {
  grid-area: sobre;
}
.sobre h2 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
}
.sobre .section-item:nth-of-type(2n+1) h4::before {
  background: #8844ee;
}
.sobre .section-item:nth-of-type(2n+2) h4::before {
  background: #00BFA6;
}
.sobre .section-item li {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.contato {
  grid-area: contato;
  border-bottom: none !important;
}
.contato .formulario form {
  display: grid;
  grid-template-columns: 100%;
  margin: 0px auto;
}
.contato .formulario form .item-formulario {
  border: none;
  border-radius: 5px;
  background-color: #ededed;
  height: 30px;
  font-family: "Fira-sans", sans-serif;
  color: #525252;
}
.contato .formulario form #campo-mensagem {
  border: none;
  border-radius: 5px;
  background-color: #ededed;
  width: 500px;
  height: 100px;
}
.contato .formulario form #contato-button {
  border-radius: 5px;
  border: 1px solid #8844ee;
  width: 180px;
  padding: 10px 20px;
  justify-self: center;
  font-family: "Fira-sans", sans-serif;
  color: white;
  font-size: 1rem;
  background-color: #8844ee;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  form {
    justify-items: center;
  }
  form .item-formulario {
    width: 200px;
    height: 30px;
  }
  #campo-mensagem {
    width: 200px !important;
    height: 30px;
  }
  #contato-button {
    width: 100px;
  }
}
footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  color: white;
}
footer p {
  text-align: center;
  padding: 18px;
}

/*# sourceMappingURL=style.css.map */
